/vendor
/node_modules
.env
.phpunit.result.cache
.phpunit.cache
/storage/logs/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep
/database/*.sqlite
/database/*.sqlite-journal
